<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('main/head')%>
    <form method="post">
</br>
        <label for ="Name">
            Name
        </br>
            <input type="text" placeholder="name" name="name" /></label>
        </br>
        <label for ="Email">
            Email
        </br>
            <input type="email" placeholder="email" name="username" /></label>
        </br>
        <label for ="Password">
            Password
        </br>
            <input type="password" placeholder="password" name="password" /></label>
        </br></br>
        <button>register</button>
        <a href="/" class="home"><h2>Home</h2></a>
    </form>
</body>
</html>